@import "../../app.scss";
.contact{
    height: 100%;
    max-width: 1200px;	
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    @include mobile {
        width: 100%;
        padding: 10px;
        flex-direction: column;
      }

.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
        gap: 20px;
        text-align: center;
        align-items: center;
        margin-top: 70px;
      }
  

    h1{
        
        font-size: 100px;
        line-height: 88px;
        // color:rgb(113, 65, 127);
            // color: linear-gradient(129deg, rgba(58,26,67,1) 10%, rgba(211,115,138,1) 22%, rgba(105,101,236,1) 33%, rgba(31,182,181,1) 47%, rgba(92,216,228,1) 61%, rgba(141,41,255,1) 75%, rgba(54,9,86,1) 86%);     
            @include mobile {
                font-size: 36px;
              } 
       
    }
    
    
    span{
        font-weight: 300;
    }
}
.formContainer{
    flex: 1;
    position: relative;

    @include mobile {
        padding: 50px;
        width: 100%;
      }
  
    
    .phoneSvg{
        stroke:rgb(148, 237, 234);
        position: absolute;
        margin:auto;
        z-index: -1;
    }

    form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input,
    textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid rgb(187, 179, 253);
        border-radius: 5px;
        color:rgb(187, 187, 249);

        @include mobile {
            padding: 10px;
          }
    }
    button{
        padding: 20px;
        border: none;
        background-color: rgb(148, 224, 224);
        cursor: pointer;
        border-radius: 5px;
        font-weight: 500;
        @include mobile {
            padding: 10px;
          }
    }
}
}
}